<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_post_content">
                <h2>
                    <span>Dữ liệu đầu vào</span>
                </h2>
                <table style="width:100%;">
                    <tr>
                        <th></th>
                        <th *ngFor='let mon of monhocs'>
                            {{mon.idmonhoc+1}}
                        </th>
                    </tr>
                    <tr *ngFor='let items of data | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                        <td>{{i+3*p-2}}</td>
                        <td *ngFor='let item of items'>
                            <span *ngIf='item != -1'>
                                {{item*2}}
                            </span>
                        </td>
                    </tr>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_post_content list">
                <h2>
                    <span>Kết quả dự đoán</span>
                </h2>
                <table style="width:100%">
                    <tr>
                        <th></th>
                        <th *ngFor='let mon of monhocs'>
                            {{mon.idmonhoc+1}}
                        </th>
                    </tr>
                    <tr *ngFor='let items of dudoans | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                        <td>{{i+3*p-2}}</td>
                        <td *ngFor='let item of items'>
                            <span *ngIf='item != -1' style="color:dodgerblue">
                                {{item*2 | number:'0.1-1'}}
                            </span>
                        </td>
                    </tr>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_post_content list">
                <h2>
                    <span>Kết quả thực tế</span>
                </h2>
                <table style="width:100%">
                    <tr>
                        <th></th>
                        <th *ngFor='let mon of monhocs'>
                            {{mon.idmonhoc+1}}
                        </th>
                    </tr>
                    <tr *ngFor='let items of result | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                        <td>{{i+3*p-2}}</td>
                        <td *ngFor='let item of items'>
                            <span *ngIf='item != -1' style="color:green">
                                {{item*2 | number:'0.1-1'}}
                            </span>
                            <span *ngIf='item == -1'>

                            </span>
                        </td>
                    </tr>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<section id="newsSection" style="text-align:center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_post_content">
                <h2>
                    <span>Độ chính xác của dự đoán</span>
                </h2>
                <table style="width:100%">
                    <tr>
                        <th>RMSE</th>
                        <th>MAE</th>
                        <th>MSE</th>
                    </tr>
                    <tr>
                        <td>{{evaluate?.rmse*2}}</td>
                        <td>{{evaluate?.mae*2}}</td>
                        <td>{{evaluate?.mse*2}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>