<section id="contentSection">
    <div class="row">
        <div class="container" style="text-align: center">
            <div *ngIf="data.algorithm == '0'">
                <h3>Content Base - Mẫu: {{data.model}}</h3>
            </div>
            <div *ngIf="data.algorithm == '1'">
                <h3>Collaborative Filtering - Mẫu: {{data.model}}</h3>
            </div>
            <div *ngIf="data.algorithm == '2'">
                <h3>Matrix Factorization - Mẫu: {{data.model}}</h3>
            </div>
            <input [(ngModel)]="masv" type="text" placeholder="Nhập mã sinh viên" width="300px">
            <button (click)="getData()" class="btn btn-primary">Gợi ý</button>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 50px">
            <div class="single_post_content">
                <h2>
                    <span>Gợi ý môn học</span>
                </h2>
                <table style="width:100%;">
                    <tr>
                        <th>Tên môn học</th>
                        <th>Điểm / Kết quả dự đoán</th>
                        <th>Gợi ý</th>
                    </tr>
                    <tr *ngFor='let mon of monhoc; let i = index'>
                        <td>{{mon.tenmonhoc}}</td>
                        <td *ngIf="!diem"></td>
                        <td *ngIf="diem && diem[i]<0">{{-diem[i]*2}}</td>
                        <td *ngIf="diem && diem[i]>0 && mon.monhoctienquyet=='Không'" style="color: dodgerblue">{{diem[i]*2 | number:'0.1-1'}}</td>
                        <td *ngIf="diem && diem[i]>0 && mon.monhoctienquyet!='Không'" style="color: orange">{{diem[i]*2 | number:'0.1-1'}}</td>
                        <td *ngIf="diem && mon.monhoctienquyet=='Không' && (diem[i]>=3)">v</td>
                        <td *ngIf="diem && mon.monhoctienquyet!='Không'"></td>
                        <td *ngIf="diem && diem[i]<3 && mon.monhoctienquyet=='Không'"></td>
                        <td *ngIf="!diem"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>