#rou-bia {
    text-align: center;
    background-image: url('../../../assets/images/bia.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%; 
    height:200px;
}

.rou ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0099ff;
}

.rou li {
    float: left;
}

.rou li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.rou li a:hover {
    background-color: #111;
}
