<header class="header">
    <nav class="navbar">
        <!-- Search Box-->
        <div class="search-box">
            <button class="dismiss">
                <i class="icon-close"></i>
            </button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Bạn tìm kiếm gì?" class="form-control">
            </form>
        </div>
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <!-- Navbar Header-->
                <div class="navbar-header">
                    <!-- Navbar Brand -->
                    <a routerLink="home" class="navbar-brand">
                        <div class="brand-text brand-big">
                            <img src="../../../assets/images/LogoDHThuDauMot.png" alt="logo" width="30px" style="margin-bottom:5px">
                            <span>Đại học</span>
                            <strong>Thủ Dầu Một</strong>
                        </div>
                        <div class="brand-text brand-small">
                            <img src="../../../assets/images/LogoDHThuDauMot.png" alt="logo" width="30px" style="margin-bottom:5px">
                            <strong>TDMU</strong>
                        </div>
                    </a>
                </div>
                <!-- Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Search-->
                    <li class="nav-item d-flex align-items-center">
                        <a id="search" href="#">
                            <i class="icon-search"></i>
                        </a>
                    </li>
                    <!-- Logout    -->
                    <li class="nav-item">
                        <a *ngIf="!user" routerLink="dangnhap" class="nav-link logout">Đăng nhập
                            <i class="fa fa-sign-in"></i>
                        </a>
                        <a id="more" *ngIf="user" routerLink="#" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img src="{{user.avatar}}" alt="avatar" class="img-fluid rounded-circle" width="35px"> {{user.username}}
                            <i class="fa fa-caret-square-o-down"></i>
                        </a>
                        <ul *ngIf="user" aria-labelledby="more" class="dropdown-menu" style="padding:0!important;margin:0!important">
                            <li>
                                <a rel="nofollow" routerLink="thongtinsinhvien" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content">
                                            <i class="fa fa-id-card bg-green"></i>
                                            Thông tin sinh viên
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" routerLink="dangkimonhoc" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content">
                                            <i class="fa fa-pencil-square-o bg-green"></i>
                                            Đăng kí môn học
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" routerLink="dangxuat" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content">
                                            <i class="fa fa-sign-out bg-green"></i>
                                            Đăng xuất
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="rou-bia">
        <img src="../../../assets/images/logo-tdmu.png" alt="logo" style="margin-top:50px">
    </div>
    <div class="rou" style="height:55px;background-color: #0099ff">
    </div>
</header>