<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Đại học Thủ Dầu Một</h1>
                            </div>
                            <p>Tri thức - Phát triển - Phồn vinh</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="login-form" method="post">
                                <div class="form-group">
                                    <input [(ngModel)]="model.username" id="login-username" type="text" name="loginUsername" required="" class="input-material" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group">
                                    <input [(ngModel)]="model.password" id="login-password" type="password" name="loginPassword" required="" class="input-material" placeholder="Mật khẩu">
                                </div>
                                <a (click)="getUser()" id="login" class="btn btn-primary" style="color:white">Đăng nhập</a>
                                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                            </form>
                            <a href="#" class="forgot-pass d-flex">Quên mật khẩu?</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>