<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div>
                <img src="../../assets/images/phattrien.png" alt="phattrien" width="100%">
            </div>
        </div>
    </div>
</section>

<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    <h2>
                        <span>Tin tức</span>
                    </h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav">
                            <li>
                                <figure class="bsbig_fig">
                                    <a href="" class="featured_img">
                                        <img alt="" src="../../assets/images/bia.jpg">
                                        <span class="overlay"></span>
                                    </a>
                                    <figcaption>
                                        <a href="">Bổ nhiệm PGS.TS Lê Tuấn Anh giữ chức vụ Phó Hiệu trưởng</a>
                                    </figcaption>
                                    <p>Sáng 2/3/2018, tại trường Đại học Thủ Dầu Một đã diễn ra lễ công bố quyết định bổ nhiệm
                                        chức vụ Phó Hiệu trưởng cho PGS.TS Lê Tuấn Anh.</p>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="pages/single_page.html" class="media-left">
                                        <img alt="" src="../../assets/images/bia.jpg"> </a>
                                    <div class="media-body">
                                        <a href="pages/single_page.html" class="catg_title"> Học viên ĐH Kentucky sẽ kiến tập, thực tập tại ĐH Thủ Dầu Một vào tháng</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="pages/single_page.html" class="media-left">
                                        <img alt="" src="../../assets/images/bia.jpg"> </a>
                                    <div class="media-body">
                                        <a href="pages/single_page.html" class="catg_title"> Ký kết MOU về xây dựng các tiện ích phục vụ sinh viên</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="pages/single_page.html" class="media-left">
                                        <img alt="" src="../../assets/images/bia.jpg"> </a>
                                    <div class="media-body">
                                        <a href="pages/single_page.html" class="catg_title"> Hội nghị Cán bộ - Viên chức năm 2018</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="pages/single_page.html" class="media-left">
                                        <img alt="" src="../../assets/images/bia.jpg"> </a>
                                    <div class="media-body">
                                        <a href="pages/single_page.html" class="catg_title"> Ahaha - Ahihi</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="fashion_technology_area"></div>
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2>
                                <span>Fashion</span>
                            </h2>
                            <ul class="business_catgnav wow fadeInDown">
                                <li>
                                    <figure class="bsbig_fig">
                                        <a href="pages/single_page.html" class="featured_img">
                                            <img alt="" src="../../assets/images/bia.jpg">
                                            <span class="overlay"></span>
                                        </a>
                                        <figcaption>
                                            <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a>
                                        </figcaption>
                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet
                                            nulla nisl quis mauris. Suspendisse a phare...</p>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2>
                                <span>Technology</span>
                            </h2>
                            <ul class="business_catgnav">
                                <li>
                                    <figure class="bsbig_fig wow fadeInDown">
                                        <a href="pages/single_page.html" class="featured_img">
                                            <img alt="" src="../../assets/images/bia.jpg">
                                            <span class="overlay"></span>
                                        </a>
                                        <figcaption>
                                            <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a>
                                        </figcaption>
                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet
                                            nulla nisl quis mauris. Suspendisse a phare...</p>
                                    </figure>
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="pages/single_page.html" class="media-left">
                                            <img alt="" src="../../assets/images/bia.jpg"> </a>
                                        <div class="media-body">
                                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2>
                        <span>Photography</span>
                    </h2>
                    <ul class="photograph_nav  wow fadeInDown">
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg"
                                        title="Photography Ttile 1">
                                        <img src="../../assets/images/bia.jpg" alt="" />
                                    </a>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg"
                                        title="Photography Ttile 2">
                                        <img src="../../assets/images/bia.jpg" alt="" /> </a>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg"
                                        title="Photography Ttile 3">
                                        <img src="../../assets/images/bia.jpg" alt="" /> </a>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg"
                                        title="Photography Ttile 4">
                                        <img src="../../assets/images/bia.jpg" alt="" /> </a>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg"
                                        title="Photography Ttile 5">
                                        <img src="../../assets/images/bia.jpg" alt="" /> </a>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg"
                                        title="Photography Ttile 6">
                                        <img src="../../assets/images/bia.jpg" alt="" /> </a>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2>
                        <span>Popular Post</span>
                    </h2>
                    <ul class="spost_nav">
                        <li>
                            <div class="media wow fadeInDown">
                                <a href="pages/single_page.html" class="media-left">
                                    <img alt="" src="../../assets/images/bia.jpg"> </a>
                                <div class="media-body">
                                    <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown">
                                <a href="pages/single_page.html" class="media-left">
                                    <img alt="" src="../../assets/images/bia.jpg"> </a>
                                <div class="media-body">
                                    <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown">
                                <a href="pages/single_page.html" class="media-left">
                                    <img alt="" src="../../assets/images/bia.jpg"> </a>
                                <div class="media-body">
                                    <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown">
                                <a href="pages/single_page.html" class="media-left">
                                    <img alt="" src="../../assets/images/bia.jpg"> </a>
                                <div class="media-body">
                                    <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="single_sidebar wow fadeInDown">
                    <h2>
                        <span>Sponsor</span>
                    </h2>
                    <a class="sideAdd" href="#">
                        <img src="../../assets/images/bia.jpg" alt="">
                    </a>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2>
                        <span>Category Archive</span>
                    </h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Life styles</option>
                        <option>Sports</option>
                        <option>Technology</option>
                        <option>Treads</option>
                    </select>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2>
                        <span>Links</span>
                    </h2>
                    <ul>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Rss Feed</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Life &amp; Style</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>