.left_content {
    float:left; 
    display:inline; 
    width:100%
}

.technology{float:right; display:inline; width:48%}
.fashion_technology_area{display:inline; float:left; width:100%}
.fashion{float:left; display:inline; width:48%}

.single_post_content{float:left; display:inline; width:100%; margin-bottom:20px}
.single_post_content > h2{background:none repeat scroll 0 0 #0099ff; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; font-weight:400; margin-bottom:10px; margin-left:0; margin-top:5px; padding:0; position:relative; text-align:center; text-transform:uppercase; margin-bottom:20px}
.single_post_content > h2 span{padding:4px 10px}
.single_post_content_left{float:left; display:inline; width:49%}
.single_post_content_right{float:right; display:inline; width:48%}

.business_catgnav{}
.business_catgnav li{float:left; display:block; width:100%}

.bsbig_fig{width:100%}
.bsbig_fig > a{display:block}
.bsbig_fig > a img{width:100%}
.bsbig_fig figcaption{color:#333; font-family:"Oswald",sans-serif; font-size:23px; font-weight:300; margin-top:10px; margin-bottom:10px}

.featured_img{position:relative}

.overlay:hover{ background:none repeat scroll 0 0 rgba(0,0,0,0.4)}
.overlay{ bottom:0; display:block; left:0; position:absolute; width:100%; z-index:2; height:100%; -webkit-transition:all 0.5s; -mz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}

.spost_nav{}
.spost_nav li{float:left; display:block; width:100%; margin-bottom:10px}
.spost_nav .media-left{width:100px; height:80px}
.spost_nav .media-body > a{font-family:"Oswald",sans-serif}

.media-left > img{height:70px; width:90px}

.photograph_nav{margin-left:-11px}
.photograph_nav li{display:block; float:left; margin-left:9px; width:32%}
.sideAdd{display:block; float:left; height:250px; width:100%; margin-top:10px}
.sideAdd > img{width:100%; height:100%}

@media(max-width:1199px ){.logo_area{width:34%}.add_banner{width:580px}.nav-tabs > li{width:32.3%}.photograph_nav li{width:31.5%}
@media(max-width:991px ){.add_banner{display:none}.logo_area{width:100%}.nav > li > a{padding:8px 8px}.latest_post_container{height:380px;overflow:hidden}#next-button{bottom:-2px}.single_iteam{height:415px}.photograph_nav li{width:47.7%}.related_post .spost_nav li{width:100%}.nav-tabs > li{width:31.9%}.nav-tabs > li > a{font-size:13px;padding-left:0 !important;padding-right:0 !important;text-align:center}}
@media(max-width:767px ){.navbar-collapse{padding-left:15px}.mobile-show{display:block}.desktop-home{display:none}.navbar-inverse .navbar-nav > li > a{display:block}.header_top_left{width:100%}.header_top_right > p{display:none}.social_area{display:none}.single_iteam a{height:100%}.single_iteam a > img{height:100%}.error_page > a{margin-bottom:25px}.nav-tabs > li{width:32.6%}}}