<section id="newsSection" style="text-align:center">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div>
        <h2>ĐĂNG KÍ MÔN HỌC</h2>
        <p>Sinh viên: Nguyễn Văn A - Mã số sinh viên: 1424801030159 - Lớp D14PM02</p>
        <div style="float:left; margin-left:10px">
          <select name="hocki" id="hocki" style="height:38px">
            <option value="" selected disabled hidden>[Lọc đối tượng]</option>
            <option value="lop">HK I năm học 2017-2018</option>
            <option value="nganh">HK II năm học 2017-2018</option>
            <option value="khoa">HK III năm học 2017-2018</option>
          </select>
          <select name="hocki" id="hocki" style="height:38px">
            <option value="" selected disabled hidden>[Lọc dữ liệu]</option>
            <option value="hk12017-2018">HK I năm học 2017-2018</option>
            <option value="hk22017-2018">HK II năm học 2017-2018</option>
            <option value="hk32017-2018">HK III năm học 2017-2018</option>
          </select>
          <button class="btn btn-primary" style="margin-bottom:3px">Lọc</button>
        </div>
      </div>
    </div>
  </div>
  <section id="contentSection">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form action="">
            <div class="single_post_content">
              <h2>
                <span>Danh sách môn học</span>
              </h2>
              <table style="width:100%">
                  <tr>               
                    <th>STT</th>
                    <th>Chọn</th>
                    <th>Mã môn học</th> 
                    <th>Tên môn học</th>
                    <th>Giảng viên</th>
                    <th>Số tín chỉ</th>
                    <th>Buổi</th>
                    <th>Thời gian học</th>
                    <th>Dự đoán</th>
                    <th>Gợi ý</th>
                  </tr>
                  <tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Eve</td>
                    <td>Jackson</td> 
                    <td>94</td>
                  </tr>
                </table>
            </div>
            <div style="float:right">
            <button type="reset" class="btn btn-primary">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
          </form>
        </div>
      </div>
    </section>
    <section id="contentSection">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div>
              <div class="single_post_content">
                <h2>
                  <span>Danh sách đã đăng kí</span>
                </h2>
                <table style="width:100%">
                    <tr>               
                      <th>STT</th>
                      <th>Chọn</th>
                      <th>Mã môn học</th> 
                      <th>Tên môn học</th>
                      <th>Giảng viên</th>
                      <th>Số tín chỉ</th>
                      <th>Buổi</th>
                      <th>Thời gian học</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td> 
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td> 
                      <td>94</td>
                    </tr>
                  </table>
              </div>
          </div>
          </div>
        </div>
      </section>
</section>