<div class="row" style="text-align:center">
    <div class="col-md-4" style="padding-bottom: 20px">
        <h1 style="color:#796AEE">Dữ liệu huấn luyện/kiểm tra</h1>
        <canvas class="center" id="myChart" width="300" height="300"></canvas>
    </div>
    <div class="col-md-4" style="padding-bottom: 20px">
        <h1 style="color:#796AEE">Kết quả đánh giá</h1>
        <canvas class="center" id="myError" width="300" height="300"></canvas>
    </div>
    <div class="col-md-4" style="padding-bottom: 20px">
        <h1 style="color:#796AEE">Kết quả</h1>
        <h4>Kết quả dự đoán</h4>
        <img class="center" [src]="image1" alt="" style="padding-bottom: 10px">
        <h4>Kết quả thực tế</h4>
        <img class="center" [src]="image2" alt="">
    </div>
</div>