.single_post_content{
    float:left; 
    isplay:inline; 
    width:100%; 
    margin-bottom:10px;
}
.single_post_content > h2{background:none repeat scroll 0 0 #0099ff; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; font-weight:400; margin-bottom:10px; margin-left:0; margin-top:5px; padding:0; position:relative; text-align:center; text-transform:uppercase; margin-bottom:20px}
.single_post_content > h2 span{padding:4px 10px}
.single_post_content_left{float:left; display:inline; width:49%}
.single_post_content_right{float:right; display:inline; width:48%}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h1 {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
