<section id="newsSection" style="text-align:center" class="parallax">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../assets/images/LogoDHThuDauMot.png" alt="" width="250px" height="250px">
                </div>
                <div class="col-md-9">
                    <h3 style="color:#796AEE">XÂY DỰNG WEBSITE DỰ ĐOÁN KẾT QUẢ HỌC TẬP VÀ GỢI Ý LỰA CHỌN MÔN HỌC DỰA TRÊN KHAI PHÁ DỮ LIỆU VÀ MÁY HỌC</h3>
                    <h3 style="color:#796AEE">- Recommender system -</h3>
                </div>
            </div>
            <div class="container">
                <select style="height:38px; display: initial" [(ngModel)]="req.algorithm">
                    <option value="" selected disabled hidden>[Chọn giải thuật]</option>
                    <option [value]="0">Dựa trên nội dung - Content base</option>
                    <option [value]="1">Lọc cộng tác - Collaborative Filtering (user-user) </option>
                    <option [value]="2">Phân rã ma trận - Matrix Factorization</option>
                </select>
                <select style="height:38px; display: initial" [(ngModel)]="req.model">
                    <option value="" selected disabled hidden>[Chọn mẫu dữ liệu]</option>
                    <option [value]="1">Mẫu 1 - Phân phối ngẫu nhiên</option>
                    <option [value]="0">Mẫu 2 - Dùng 3 năm đầu để dự đoán năm cuối</option>
                </select>
            </div>
            <div class="container" style="margin-top: 50px">
                <button (click)="getContent()" class="btn btn-primary" style="margin-bottom:3px">Xem kết quả tổng quan</button>
                <button (click)="getNewData()" class="btn btn-primary" style="margin-bottom:3px">Xem toàn bộ kết quả dự đoán</button>
                <button (click)="getRecomment()" class="btn btn-primary" style="margin-bottom:3px">Gợi ý cho một sinh viên</button>
            </div>
        </div>
    </div>
</section>
<div *ngIf="content == 0">
    <app-test [test]="test"></app-test>
</div>
<div *ngIf="content == 2">
    <app-recommend [test]="test"></app-recommend>
</div>
<div *ngIf="content == 1">
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="single_post_content">
                    <h2>
                        <span>Dữ liệu đầu vào</span>
                    </h2>
                    <div style="overflow-y: auto">
                        <table style="width: 100%">
                            <tr>
                                <th></th>
                                <th *ngFor='let mon of monhocs; let i = index'>
                                    {{i+1}}
                                </th>
                            </tr>
                            <tr *ngFor='let items of data | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                                <td>{{i+3*p-2}}</td>
                                <td *ngFor='let item of items'>
                                    <span *ngIf='item != -1'>
                                        {{item*2}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </section>

    <section id="contentSection">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="single_post_content list">
                    <h2>
                        <span>Kết quả dự đoán</span>
                    </h2>
                    <div style="overflow-y: auto">
                        <table style="width:100%">
                            <tr>
                                <th></th>
                                <th *ngFor='let mon of monhocs; let i = index'>
                                    {{i+1}}
                                </th>
                            </tr>
                            <tr *ngFor='let items of dudoans | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                                <td>{{i+3*p-2}}</td>
                                <td *ngFor='let item of items'>
                                    <span *ngIf='item != -1' style="color:dodgerblue">
                                        {{item*2 | number:'0.1-1'}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="single_post_content list">
                    <h2>
                        <span>Kết quả thực tế</span>
                    </h2>
                    <div style="overflow-y: auto">
                        <table style="width:100%">
                            <tr>
                                <th></th>
                                <th *ngFor='let mon of monhocs; let i = index'>
                                    {{i+1}}
                                </th>
                            </tr>
                            <tr *ngFor='let items of result | paginate: { itemsPerPage: 3, currentPage: p }; let i = index'>
                                <td>{{i+3*p-2}}</td>
                                <td *ngFor='let item of items'>
                                    <span *ngIf='item != -1' style="color:green">
                                        {{item*2 | number:'0.1-1'}}
                                    </span>
                                    <span *ngIf='item == -1'>

                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
    <section id="newsSection" style="text-align:center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="single_post_content">
                    <h2>
                        <span>Độ chính xác của dự đoán</span>
                    </h2>
                    <table style="width:100%">
                        <tr>
                            <th>RMSE</th>
                            <th>MAE</th>
                            <th>MSE</th>
                        </tr>
                        <tr>
                            <td>{{evaluate?.rmse*2}}</td>
                            <td>{{evaluate?.mae*2}}</td>
                            <td>{{evaluate?.mse*2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>